<div class = "attraction-form">
  <h1>Edit Your Review</h1>

  <%= form_for(@review) do |f| %>
    <div class="field">
      <%= f.label :rating %>
      <%= f.select :rating, @ratingOptions %>
    </div>

    <div class="field">
      <%= f.label :body, "Review Body" %>
      <%= f.text_field :body %>
    </div>

    <div class="actions">
      <%= f.submit "Edit", :class => "button submit-button" %>
    </div>
  <% end %>
</div>
